body {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;
}
#mainContainer {
  width: 100vw;
  height: 100vh;
  left: 0;
}

.svg {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* #svg1 {
  -webkit-animation: rotation 5s infinite linear;
  animation: rotation 5s infinite linear;
}
#svg2 {
  -webkit-animation: rotation 4s infinite linear;
  animation: rotation 4s infinite linear;
}
#svg3 {
  -webkit-animation: rotation 3s infinite linear;
  animation: rotation 3s infinite linear;
}
#svg4 {
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}
#svg5 {
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
} */

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
